---
layout: page.njk
---
<div class="section section_pb">
    <div class="container">
        <div class="page-hero">
            <div class="breadcrumbs text-grey-medium">
                <div class="breadcrumbs__item">
                    <a href="#" class="link link_underline">
                        <span class="link__text">ColorNew</span>
                    </a>
                </div>
                <div class="breadcrumbs__item">
                    >
                </div>
                <div class="breadcrumbs__item">
                    Vacancies
                </div>
            </div><!-- /breadcrumbs -->

            <h1>{{ title }}</h1>

        </div><!-- /page-hero -->

        <div class="vacancy-list">
            <div class="g-row g-row_wrap js-sorting">
                <div class="g-col g-col_50 g-col_m-100 js-sorting-item">
                    <div class="vacancy-list__block">
                        <div class="vacancy-list__title">Tasks</div>
                        <ul class="list">
                            {% for task in tasks %}
                                <li>{{ task }}</li>
                            {%- endfor %}
                        </ul>
                    </div>
                </div>

                <div class="g-col g-col_50 g-col_m-100 js-sorting-item">
                    <div class="vacancy-list__block">
                        <div class="vacancy-list__title">Conditions</div>
                        <ul class="list">
                            {% for item in conditions %}
                                <li>{{ item }}</li>
                            {%- endfor %}
                        </ul>
                    </div>
                </div>

                <div class="g-col g-col_50 g-col_m-100 js-sorting-item">
                    <div class="vacancy-list__block">
                        <div class="vacancy-list__title">Requirements</div>

                        <ul class="list">
                            {{ content | safe }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /container -->
</div><!-- /section -->

<div class="section section_feedback section_bg">
    <div class="container">
        <div class="feedback">
            <div class="feedback__title">Come get acquainted</div>
            <div class="feedback__text">
                If you are missing one or more of the above points, but you are eager to learn it, this is
                not critical - we will be
                glad to see you! Send us your resume. Ask questions of interest, to which we will be happy
                to answer.
            </div>
        </div><!-- /feedback -->
    </div><!-- /container -->
</div><!-- /section -->

{% include "components/map.njk" %}
