<div class="section section_feedback section_bg">
    <div class="container">
        <div class="feedback">
            <div class="g-row g-row_wrap">
                <div class="g-col g-col_50 g-col_d-75 g-col_t-50 g-col_m-100">
                    <div class="feedback__title">{{ feedback.title }}</div>
                </div>
                <div class="g-col g-col_50 g-col_d-100">
                    <div class="feedback__text feedback__text_left">
                        {{ feedback.text }}
                    </div>
                </div>
            </div>
        </div><!-- /feedback -->
    </div><!-- /container -->
</div><!-- /section -->