<div class="swiper-container js-portfolio-slider">
    <div class="swiper-wrapper">
        {% for project in collections.projects %}
            <div class="swiper-slide">
                <div class="project">
                    <div class="project__image">
                        <img src="{{ project.data.img }}" alt="project">
                    </div>
                    <div class="project__content">
                        <div class="project-info">

                            <div class="project-info__item project-info__item_half">
                                <div class="project-info__title text-grey">Client:
                                </div>
                                <div class="project-info__text">
                                    {{ project.data.title }}
                                </div>
                            </div>

                            <div class="project-info__item project-info__item_half">
                                <div class="project-info__title text-grey">Product:
                                </div>
                                <div class="project-info__text">
                                    {{ project.data.product }}
                                </div>
                            </div>

                            <div class="project-info__item">
                                <div class="project-info__text">
                                    {{ project.templateContent | safe }}
                                </div>
                            </div>

                            <div class="project-info__item">
                                <div class="project-info__title text-grey">Result:
                                </div>
                                <div class="project-info__text">
                                    {{ project.data.result }}
                                </div>
                            </div>

                        </div><!-- /project-info -->

                        <div class="project__bottom">
                            <div class="g-row g-row_middle g-row_between">
                                <div class="g-col mobile-hidden">

                                    <div class="g-row g-row_middle g-row_between">
                                        {% for tag in project.data.projects %}
                                        <div class="g-col">
                                            <a href="/portfolio/?tag={{ tag }}"
                                               class="link link_underline-hover text-grey">
                                                <span class="link__text">#{{ tag }}</span>
                                            </a>
                                        </div>
                                        {% endfor %}
                                    </div>

                                </div>

                                <div class="g-col">
                                    <a href="/portfolio/" class="link link_underline">
                                        <span class="link__text">see more</span>
                                        <span class="link__icon">
                                            {% svg "sp-chevron-right" %}
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div><!-- /project__content -->
                </div><!-- /project -->
            </div>
        {% endfor %}
    </div>
</div>